<a href="https://colab.research.google.com/github/kassymkhan0101/mlcourseai.demoassgn-1/blob/master/assignment_on_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignment #1 (demo)

Exploratory data analysis with Pandas

In this task you should use Pandas to answer a few questions about the Adult dataset. (You don't have to download the data â€“ it's already here). Choose the answers in the web-form. This is a demo version of an assignment, so by submitting the form, you'll see a link to the solution .ipynb file.

Unique values of all features (for more information, please see the links above):

age: continuous.

workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.

fnlwgt: continuous.

education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.

education-num: continuous.

marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.

occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.

relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.

race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
sex: Female, Male.

capital-gain: continuous.

capital-loss: continuous.

hours-per-week: continuous.

native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.

salary: >50K,<=50K

In [1]:
import pandas as pd
data = pd.read_csv('adult.data.csv')
data.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country salary
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K

[5 rows x 15 columns]

1. How many men and women (sex feature) are represented in this dataset?

In [20]:
data['sex'].value_counts()

Male      6509
Female    3204
Name: sex, dtype: int64

 What is the average age (age feature) of women?

In [47]:
df1 = data['sex'].value_counts(normalize = True)
df1.loc['Female']

0.3298671883043344

What is the percentage of German citizens (native-country feature)?

In [44]:
df2 = data['native-country'].value_counts(normalize = True)
df2.loc['Germany']

0.004427512355848435

4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature) and those who earn less than 50K per year?

In [54]:

data[data['salary'] == '<=50K'].age.mean()

36.68863083985957

In [55]:
data[data['salary'] == '<=50K'].age.std()

13.983012664508035

In [56]:
data[data['salary'] == '>50K'].age.mean()

44.016912402428446

In [57]:
data[data['salary'] == '>50K'].age.std()

10.387259433171947

6. Is it true that people who earn more than 50K have at least high school education? (education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

In [80]:
data[data['salary'] == '>50K']['education-num'] > 10

7       False
8        True
9        True
10      False
11       True
        ...
9676     True
9683     True
9686    False
9688    False
9690     True
Name: education-num, Length: 2306, dtype: bool

7. Display age statistics for each race (race feature) and each gender (sex feature). Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.

In [98]:
data.groupby(['sex', 'race'])['age'].describe()

                            count       mean        std  ...   50%    75%   max
sex    race                                              ...
Female Amer-Indian-Eskimo    42.0  35.880952  12.854158  ...  33.5  41.75  63.0
       Asian-Pac-Islander   105.0  35.142857  13.176632  ...  33.0  44.00  75.0
       Black                448.0  38.535714  12.653834  ...  38.0  48.00  81.0
       Other                 30.0  31.633333  11.541479  ...  28.0  41.00  56.0
       White               2579.0  36.734781  14.195119  ...  35.0  46.00  90.0
Male   Amer-Indian-Eskimo    54.0  37.074074  11.541315  ...  35.0  45.00  67.0
       Asian-Pac-Islander   192.0  38.166667  12.654628  ...  36.5  46.00  90.0
       Black                479.0  37.764092  13.315007  ...  36.0  46.00  90.0
       Other                 49.0  34.102041  10.636503  ...  31.0  41.00  65.0
       White               5735.0  39.408893  13.380210  ...  38.0  48.00  90.0

[10 rows x 8 columns]

8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (marital-status feature)? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

In [176]:
pd.crosstab((data['marital-status'].apply(lambda marsta: 'married' if 'Married' in marsta else 'single')),data['salary'])

salary          <=50K  >50K
marital-status
married          2576  1986
single           4830   320

9. What is the maximum number of hours a person works per week (hours-per-week feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [152]:
data[data['hours-per-week'] == data['hours-per-week'].max()].salary.value_counts(normalize = True)

<=50K    0.533333
>50K     0.466667
Name: salary, dtype: float64

10. Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country). What will these be for Japan?

In [208]:
df5 = data[data['native-country'] == 'Japan']
df5.groupby('salary')['hours-per-week'].mean()

salary
<=50K    41.857143
>50K     41.666667
Name: hours-per-week, dtype: float64